@charset"UTF-8";

// common
html{
  font-size: 100%;
}

body{
  font-family: 'M PLUS 1p', sans-serif;
  line-height: 1.6;
}

img{
  vertical-align: bottom;
  max-width: 100%;
}

a{
  text-decoration: none;
}

li{
  list-style: none;
}

.wrapper{
  margin: 0 auto;
  padding: 20px 40px;
  max-width: 1360px;
}

// header
.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 30;
    height: 60px;
    width: 100%;
    background: #fff;
  .header-wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1360px;
        margin:0 auto;
        padding-right: 45px;
        padding-left: 45px;
    }
    .header-logo {
        line-height: 80px;
      img{
        height: 180px;
        height: 20px;
        vertical-align: middle;
        &:hover{
          opacity: 0.7;
          transition: .2s ease-in-out;
      }
       }
       }
      }
      

// hamburger-menu
.hamburger-menu{
  display: block;
  position: relative;
  right: 0;
  z-index: 30;
  width: 30px;
  height: 10px;
  padding-top: 10px;
  cursor: pointer;
  transition: 0.4s;
  &:hover{
    opacity: 0.5s;
  }
  span{
    position: absolute;
    left: 0px;
    width: 30px;
    height: 2px;
    background: #333;
    transition: 0.4s ease-in-out;
    &:nth-child(1){
      top: 37px;
    }
    &:nth-child(2){
      top: 45px;
    }
  }
}

// hamburger-menu-section
#hamburger-navigation{
  position: fixed;
  top: 0;
  left: 0;
  visibility:hidden;
  opacity: 0;
  z-index: 30;
  width: 100%;
  height: 100vh;
  background-color: #333333;
  text-align: center;
  transition: opacity 0.8s ease, visibility 0.8s ease ;
  .sections {
    margin-top: 180px;
    li{
      margin-bottom: 20px;
    }
    a{
      color: #FFFFFF;
      font-weight: normal;
      font-size: 0.875rem;
    }
  }
}

// contents
.contents{
  margin-bottom: 40px;
.contents-wrapper{
  display: grid;
  grid-template-columns:1fr 1fr 1fr 1fr ;
  gap: 34px;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  padding-right: 45px;
  padding-left: 45px;
  align-items: end;
  .contents-item{
    cursor: pointer;
  }
  .contents-item_1{
    margin-top: 20px;
  }
  .contents-item_2{
    margin-top: 20px;
  }
  .contents-item a{
    transition: .3s;
    margin-bottom: 10px;
    &:hover{
      opacity: .7;
    }
  }
  .contents-item img{
    z-index: 0;
    margin-bottom: 10px;
    width: 294px;
  }
  .contents-item p{
    font-size: 0.75rem;
  }
  .contents-item span{
    display: block;
  }
  }
}
.contents-viewmore{
  margin-bottom: 120px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  a{
    transition: .8s;
    &:hover{
      opacity: .7;
      }
  }
}
 @media screen and (max-width:900px) {
  .contents .contents-wrapper{
    grid-template-columns:repeat(2, 1fr) ;
  }
  .contents-item_3{
    margin-top: 0;
  }
  .contents-item_4{
    margin-top: 0;
  }
}


// footer
.footer{
  margin-bottom: 20px;
  height: 30px;
  .footer-wrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    max-width: 1360px;
    margin:0 auto;
    padding-right: 45px;
    padding-left: 45px;
    .footer-list{
      display: flex;
      font-size: 0.75rem;
      :not(:nth-child(1)){
        margin-left: 30px;
      }
    }
    a{
      transition: .3s;
      &:hover{
        opacity: .7;
      }
    }
    .footer-copy{
      font-size: 0.65rem;
    }
  }
}

@media screen and (max-width:900px) {
  .footer-wrapper{
    flex-direction:column ;
  }
}

// products
.sitemap{
  margin-top: 60px;
  margin-bottom: 10px;
  .sitemap-wrapper{
    width: 100%;
    max-width:1360px;
    margin:0 auto;
    padding-right: 45px;
    padding-left: 45px;
  }
  p{
    font-size: 0.875rem;
  }
}

// pagenation
.pagination{
.pagination-wrapper{
  max-width: 1360px;
  margin:0 auto;
  padding-right: 45px;
  padding-left: 45px;
  text-align: center;
  .pagination-list{
    display: flex;
    justify-content: center;
    
  }
  .pagination-list li{
    display: inline;
    font-size: 0.875rem;
    a{
      display: block;
    }
    &:nth-child(2){
      padding-left: 40px;
    }
  }
}
}

// products2
.contents-item_13{
  margin-top: 20px;
}
.contents-item_14{
  margin-top: 20px;
}

// company
.footer-wrapper{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 100%;
    max-width: 1360px;
    margin:0 auto;
    padding-right: 45px;
    padding-left: 45px;
    .footer-list{
      display: flex;
      font-size: 0.75rem;
      :not(:nth-child(1)){
        margin-left: 30px;
      }
    }
    a{
      transition: .3s;
      &:hover{
        opacity: .7;
      }
    }
    .footer-copy{
      font-size: 0.65rem;
    }
  }

@media screen and (max-width:900px) {
  .footer-wrapper{
    flex-direction:column ;
  }
}

.company-footer{
  margin-top: 17.99%;
}

// company
.cp-section {
    max-width: 1360px;
    margin:0 auto;
    padding-top: 60px;
    padding-right: 45px;
    padding-left: 45px;
}

/* コンテナー */
.company {
  margin-right:auto;
  padding: 20px 40px;
}
.cp-container-small {
    max-width: 750px;
}

/* テキスト */
.cp-text {
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #707070;
}
* + .cp-text {
    margin: 16px 0 0 0;
}

/* フォームリセット ボタン */
.cp-riset-submit {
    display: inline-block;
    margin: 0;
    padding: 0 32px;
    font-size: 16px;
    line-height: 38px;
    border-radius: 3px;
    border: 1px solid #707070;
    transition: .2s ease-in-out;
    color: #707070;
    background-color: #fff;
    background-image: none;
    cursor: pointer;
    text-decoration: none;
}
.cp-riset-submit:hover,
.cp-riset-submit:focus {
    outline: none;
}
.cp-riset-submit:hover {
    color: #fff;
    background: #707070;
}

@media screen and (max-width: 599px) {
    /* セクション */
    .cp-section {
        padding: 40px 0;
    }

    /* コンテナー */
    .p-container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

/* お問合せ確認 ------------------------------*/
.cp-contactVerification01__table {
    width: 100%;
    margin-top: 32px;
}

/* アイテム */
.cp-contactVerification01__item:not(:nth-child(1)){
    border-top: 1px solid #ADADAD;
}

.cp-contactVerification01__title,
.cp-contactVerification01__text {
    padding: 12px 16px;
    line-height: 1.5;
    color: #707070;
}
.cp-contactVerification01__title {
    width: 30%;
    text-align: left;
    font-weight: bold;
}
.cp-contactVerification01__text {
    width: 70%;
}

.cp-contactVerification01__buttons {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.cp-contactVerification01__button:not(:last-child) {
    margin-right: 40px;
}

@media screen and (max-width: 599px) {
    .cp-contactVerification01__title,
    .cp-contactVerification01__text {
        display: block;
        width: 100%;
    }
    .cp-contactVerification01__title {
        padding: 8px 16px 4px;
    }
    .cp-contactVerification01__text {
        padding: 4px 16px 8px;
    }
}

.map{
  margin-top: 40px;
  margin-bottom: 126px;
}

// item
#item {
  display: flex;
  justify-content: space-between;
  max-width:800px;
  margin-bottom: 60px;
  
}
#item .item-text {
  width: 43%;
}
/*
text-align: justify;
テキストの両端を揃える
*/
#item .item-text p {
  margin-bottom: 30px;
  text-align: justify;
}
#item .item-text dl {
  display: flex;
  flex-wrap: wrap;
}
#item .item-text dt {
  width: 30%;
}
#item .item-text dd {
  width: 70%;
}
#item .item-img {
  width: 50%;
}

.link-text{
  display: block;
  text-align: center;
}

@media screen and (max-width:900px){
  #item{
    flex-direction: column;  
    .item-text{
      width: 100%;
    }
    .item-img{
      width: 100%;
      margin-bottom: 30px;
    }
  }

}